h1{
    text-align: center;
}
div#container{
    position: relative;
    top: 10px;
}
div > p#title{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid black;
    margin: 0;
    padding: 5px;

}
div.menu{
    position: absolute;
    background-color: #888;
    margin: 10px;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}
#menu2{
    left: 33%;
}
#menu3{
    left: 66%;
}
.x{
    background-color: pink;
}
.y{
    background-color: red;
}
.z{
    background-color: orange;
}